@import '../../../config-scss/rem-convert.scss';
@import '../../../config-scss/variables.scss';


:host {
  .list-pokemon-body {
    margin-top: rem-convert(5);
    display: flex;
    gap: rem-convert(10);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: rem-convert(600);
  }

  .pokemon {
    text-decoration: none;
    color: var(--cor-primaria);
    position: relative;
    display: flex;

    height: rem-convert(120);
    width: 42%;
    padding: rem-convert(20);

    background-color: var(--branco);
    border-radius: rem-convert(10);

    #pokemon-name-card {
      font-size: 28px;
    }

    &_info {
      h2 {
        margin-bottom: rem-convert(10);

        font-size: rem-convert(22);
        font-style: italic;
        font-weight: bold;
        text-transform: capitalize;

        color: var(--cor-primaria);
      }

      h3 {
        font-size: rem-convert(14);
        font-weight: 400;
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: rem-convert(5);

          margin-bottom: rem-convert(5);
          height: rem-convert(16);
          width: rem-convert(60);

          background: var(--cinza);
          border-radius: rem-convert(32);
          text-align: center;

          font-size: rem-convert(13);
          text-transform: capitalize;
          font-weight: 500;
        }
      }
    }

    &_image {
      position: absolute;
      margin-top: rem-convert(30);
      margin-left: rem-convert(10);
      right: rem-convert(20);
      bottom: rem-convert(20);

      display: flex;
      align-items: center;
      justify-content: center;

      width: rem-convert(110);
      height: rem-convert(90);

      background: url('../../../assets/bg/bolinhas-bg-pokemon.svg') no-repeat;

      img {
        max-width: rem-convert(160);
        max-height: rem-convert(160);
      }
    }
  }

}
