<body class="list-pokemon-body">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <a [routerLink]="['details', pokemon.status.id]" class="pokemon" *ngIf="pokemon.status">
      <section class="pokemon_info">
        <h2 id="pokemon-name-card">{{ pokemon.name }} </h2>
        <br>
        <h3 style="font-size:18px;">Details:</h3>
        <ul>
          <li *ngFor="let item of pokemon.status.types">
            {{item.type.name}}
          </li>
        </ul>
      </section>
      <section class="pokemon_image">
        <img [src]="pokemon.status.sprites.front_default" [alt]="pokemon.name">
      </section>
    </a>
  </ng-template>

</body>
