<body>
  <a class="pokemon">
    <section class="pokemon_info">
      <h2>Bulbasaur</h2>
      <br>
      <h3>Details:</h3>
      <ul>
        <li>Grass</li>
        <li>Poison</li>
      </ul>
    </section>
    <section class="pokemon_image">
      <img src="../../../assets/images/img-bulbasaur.png" alt="Bulbasaur">
      <!-- <section>
              <img src="../../../assets/bg/bolinhas-bg-pokemon.svg" alt="Background com algumas bolhas de cor cinza">
          </section> -->
    </section>
  </a>
  <a class="pokemon">
    <section class="pokemon_info">
      <h2>Bulbasaur</h2>
      <br>
      <h3>Details:</h3>
      <ul>
        <li>Grass</li>
        <li>Poison</li>
      </ul>
    </section>
    <section class="pokemon_image">
      <img src="../../../assets/images/img-bulbasaur.png" alt="Bulbasaur">
      <!-- <section>
              <img src="../../../assets/bg/bolinhas-bg-pokemon.svg" alt="Background com algumas bolhas de cor cinza">
          </section> -->
    </section>
  </a>
  <a class="pokemon">
    <section class="pokemon_info">
      <h2>Bulbasaur</h2>
      <br>
      <h3>Details:</h3>
      <ul>
        <li>Grass</li>
        <li>Poison</li>
      </ul>
    </section>
    <section class="pokemon_image">
      <img src="../../../assets/images/img-bulbasaur.png" alt="Bulbasaur">
    </section>
  </a>
  <a class="pokemon">
    <section class="pokemon_info">
      <h2>Bulbasaur</h2>
      <br>
      <h3>Details:</h3>
      <ul>
        <li>Grass</li>
        <li>Poison</li>
      </ul>
    </section>
    <section class="pokemon_image">
      <img src="../../../assets/images/img-bulbasaur.png" alt="Bulbasaur">
      <!-- <section>
              <img src="../../../assets/bg/bolinhas-bg-pokemon.svg" alt="Background com algumas bolhas de cor cinza">
          </section> -->
    </section>
  </a>
</body>
