@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-convert.scss';

html {
  background-color: var(--cor-primaria);
  font-family: Roboto;
}

main {
  width: rem-convert(600);
  margin: 0 auto;
  box-sizing: border-box;
}
